/node_modules/
/dist/
/req/
/gth_*
/integration-tests/gth_*
/integration-tests/testreview.md
/integration-tests/.gsloth.config.json
/docs-generated
.junie
.idea
.claude
CLAUDE.md
gaunt-sloth-assistant.iml
/.gsloth.config*
/gaunt-sloth.log
